{% extends 'base/base.html' %}
{% block content %}
    <div class="container my-3">
        <main class="float-left">
            <div class="container">
                <h1>ABout TeachMe</h1>
                <hr><br>
                <p>Hello and welcome to TeachMe, the site that lets you share your thoughts and opinions on topics that matter to you.</p>
            </div>
        </main>
        <aside class="float-right mt-2">
            <div class="container">
                <h5>Popular Categories</h5>
                <ul>
                    <li><a href="">Arts and Crafts</a></li>
                    <li><a href="">Computer Software</a></li>
                    <li><a href="">Cosmetics</a></li>
                    <li><a href="">Financial Services</a></li>
                    <li><a href="">Health and Wellness</a></li>
                    <li><a href="">Music</a></li>
                    <li><a href="">Public Safety</a></li>
                    <li><a href="">Telecommunications</a></li>
                    <li><a href="">Writing and Editing</a></li>
                </ul>
                <p><a href="text-muted">See more</a></p>
            </div>
        </aside>
        <div class="float-none">
        </div>
    
        <!-- <div
        id="intro-example"
        class="p-5 text-center bg-image"
        style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');"
        >
        <h2>Look at me!</h2>
    
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-white">
                        <h1 class="mb-3">Learn Bootstrap 5 with MDB</h1>
                        <h5 class="mb-4">Best & free guide of responsive web design</h5>
                        <a
                        class="btn btn-outline-light btn-lg m-2"
                        href="https://www.youtube.com/watch?v=c9B4TPnak1A"
                        role="button"
                        rel="nofollow"
                        target="_blank"
                        >Start tutorial</a
                        >
                        <a
                        class="btn btn-outline-light btn-lg m-2"
                        href="https://mdbootstrap.com/docs/standard/"
                        target="_blank"
                        role="button"
                        >Download MDB UI KIT</a
                        >
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    
{% endblock %}