{% extends 'base/base.html' %}
{% block content %}
    <div class="container mt-3 mb-6">
        <h1>TeachMe FAQs</h1>
        <hr>
        <h4>How do you get started?</h4>
        <p>Have a skill or passion that you would like to share with others? It's as easy as registering and writing a post. TeachMe provides the space you need to talk about your skills or passions. You even get to interact with your readers by having discussions within the comment section.</p>
        
        <h4>I don't want to write, I only want to read.</h4>
        <p> That's no problem. To read the post you need to register. Though you have the ability to write your own posts if you so chose, you are not required to in order to use the platform.
            So signup and read as much as you like.</p>

        <h4>Do you make money for writing blog posts?</h4>
        <p>Unfortunately, no. You are not compensated for the posts you write. TeachMe has no paid writing programs at this time.</p>

        <h4>Do you allow posts with brand deals?</h4>
        <p> We are aware that writers may include affilitate links within their posts. This is allowed and readers are encouraged to do their due diligence.</p>
        
        <h4>What is your policy on sponsored posts?</h4>
        <p>Sponsored posts are when writers are paid to feature brands within a blog post. These posts should be tagged and noted as “Sponsored Content”. These posts will contain affiliate links. For example, if you click a link on a post and make a purchase through one of those links, the writer may make a commission from that purchase.</p>
        
        <h4>Can I write on things I don't know about?</h4>
        <p>TeachMe was created to allow persons to share their thoughts, skills and passions in a safe space. Though we do not monitor every post, we encourage you to write about topics you are familiar with. This allows for a better experience for you and our readers.</p>
        
        <h4>Can TeachMe delete my posts or comments?</h4>
        <p>Yes, we can. If a post or comment is deemed to be inappropriate, TeachMe reserves the right to delete said comment or post.</p>
        
        <h4>Can TeachMe delete my profile?</h4>
        <p>Yes, we can. If a user has broken multiple offences, TeachMe reserves the right to deactivate or remove a user's account.</p>
      
        <h4>Are you hiring?</h4>
        <p> When an open position at TeachMe becomes available, we will put out a notice on our home screen for all interested parties.</p>
        
        <h4>What does TeachMe do with my data?</h4>
        <p> This information can be found in our <a href="{% url 'services:privacy' %}"> privacy policy</a>.</p>

    </div>          
{% endblock %}